/*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */
  
  
  .round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
  .round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
  .round-btn .icon {padding: 3px;}
  .round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
  .btn-facebook a {color: #3b5998;padding: 8px 13px;}
  .btn-linkedin a {color: #007bb6;}
  .btn-twitter a{color: #1c9deb;}
  .btn-instagram a{color: #dd3f5c;}
  .btn-whatsapp a{color: #155E54;}
  .btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
  .standard_header .standard_social_links {margin-left: 1rem;}
  
    /*
    =========================================================================================
                                      footer
    =========================================================================================
    */
    
    .footer-wrap {
      padding-top: 43px;
      background-size: cover;
  }
  
  .footer-wrap h3 {
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 25px;
  }
  
  .footer-wrap p {
      font-size: 13px;
      line-height: 24px;
      color: #b3b3b3;
      margin-top: 15px;
  }
  
  .footer-wrap p a {
      color: #fff;
      text-decoration: underline;
      font-style: italic;
  }
  
  .footer-wrap p a:hover {
      text-decoration: none;
      color: #ff7800;
  }
  
  .footer-links li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  
  
  .footer-links li:before {
      content: "\f105";
      font-family: 'FontAwesome';
      padding-right: 10px;
      color: #ccc;
  }
  
  .footer-category li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  
  .footer-category li:before {
      content: "\f105";
      font-family: 'FontAwesome';
      padding-right: 10px;
      color: #b3b3b3;
  }
  
  .address {
      
      color: #b3b3b3;
      font-size: 14px;
      position: relative;
      padding-left: 30px;
      line-height: 30px;
  }
  
  .address:before {
      content: "\f277";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .info a {
   
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-phone:before {
      content: "\f095";
  }
  
  .info a {
  
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-fax:before {
      content: "\f1ac";
  }
  
  .copyright {
      border-top: 1px solid #111;
      font-size: 14px;
      color: #ccc;
      padding-top: 15px;
      text-align: center;
      padding-bottom: 15px;
      background: #222;
  }
  footer .second_class{
      border-bottom: 1px solid #444;
      padding-bottom: 25px;
  }
  footer .first_class {
      padding-bottom: 21px;
      border-bottom: 1px solid #444;
  }
  footer .first_class p, footer .first_class h3{
      margin: 0 0;
      
  }
  footer{
      background: #333;
  }
  
  footer .newsletter input[type="text"] {
      width: 100%;
      background: #fff;
      color: #333;
      border: 1px solid #222;
      padding: 14px 20px;
      border-radius: 50px;
      margin-top: 12px;
  }
  
  .newsletter .newsletter_submit_btn {
      background: #fff;
      position: absolute;
      right: 30px;
      border: 0;
      top: 26px;
      font-size: 17px;
      color: #333;
  }
  
  
  footer .second_class_bdr{
      padding-top: 25px;
      border-top:1px solid #222;
  }
  
  footer .btn-facebook a {
      padding: 6px 14px !important;
  }
  
  footer .btn-envelop a {
      color: #D6403A;
      font-size: 15px;
      padding: 12px 12px;
  }
  
  footer .round-btn a {
      padding: 6px 12px;
  }
  
  footer .round-btn {
      box-shadow: 2px 2px 5px 0px #222 !important;}
  
  footer .round-btn {
      margin: 15px 4px;}
    
  footer dl, ol, ul {
      padding-left: 5px;
  }
    footer li{
      list-style: none;
    
    }
  
  @media(max-width:768px){
      .footer-wrap h3 {
      margin-top: 27px;}
      
      footer .round-btn {
      margin: 15px 4px;}
  }
  @media(max-width:320px){
  .copyright {
      font-size: 13px;}
  } 











  body{margin-top:20px;
    background:#eee;
    }
    /* Social feed */
    .social-feed-separated .social-feed-box {
      margin-left: 62px;
    }
    .social-feed-separated .social-avatar {
      float: left;
      padding: 0;
    }
    .social-feed-separated .social-avatar img {
      width: 52px;
      height: 52px;
      border: 1px solid #e7eaec;
    }
    .social-feed-separated .social-feed-box .social-avatar {
      padding: 15px 15px 0 15px;
      float: none;
    }
    .social-feed-box {
      /*padding: 15px;*/
      border: 1px solid #e7eaec;
      background: #fff;
      margin-bottom: 15px;
    }
    .article .social-feed-box {
      margin-bottom: 0;
      border-bottom: none;
    }
    .article .social-feed-box:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #e7eaec;
    }
    .article .social-feed-box p {
      font-size: 13px;
      line-height: 18px;
    }
    .social-action {
      margin: 15px;
    }
    .social-avatar {
      padding: 15px 15px 0 15px;
    }
    .social-comment .social-comment {
      margin-left: 45px;
    }
    .social-avatar img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    .social-avatar .media-body a {
      font-size: 14px;
      display: block;
    }
    .social-body {
      padding: 15px;
    }
    .social-body img {
      margin-bottom: 10px;
    }
    .social-footer {
      border-top: 1px solid #e7eaec;
      padding: 10px 15px;
      background: #f9f9f9;
    }
    .social-footer .social-comment img {
      width: 32px;
      margin-right: 10px;
    }
    .social-comment:first-child {
      margin-top: 0;
    }
    .social-comment {
      margin-top: 15px;
    }
    .social-comment textarea {
      font-size: 12px;
    }
    
    
    .form-control, .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }
    
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }
  